<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="<% root_path %>">Blog App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
           <% if user_signed_in? %>
            <%= button_to "Logout", destroy_user_session_path, class: "btn btn-primary", method: :delete %>
           <% else %>
             <%= button_to "Login", new_user_session_path, class: "btn btn-primary", method: :get %>
          
           <% end %>
        </li>
        <li class="nav-item mx-2">
           <% if !user_signed_in? %>
             <%= button_to "Register", new_user_registration_path, method: :get, class: "btn btn-primary" %>
           <% end %>
        </li>
      
      </ul>
    
    </div>
  </div>
</nav>
