<div class="container">
  <div class="row justify-content-center align-items-center "> <!-- Center vertically using Flexbox -->
    <div class="col-6 border border-primary rounded-1  border-2 p-5">
    <h1 class="text-center">Add new post</h1>
      <%= render "shared/post_form" %>
    </div>
  </div>
</div>


<div class="col-6 m-auto">
  
</div>

